 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 html {
   font-family: Lato;
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100%;
 }

 body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
 }

 #app {  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 ::-webkit-scrollbar {
  display: none;
}


/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(131, 131, 131, 0.144); 
}
